* text=auto

*.css text
*.html text
*.js text
*.json text
*.md text
*.mjs text
*.svg text
*.yml text

.browserslistrc text
.editorconfig text
.eslintignore text
.gitattributes text
.gitignore text
.prettierignore text
LICENSE text

*.sh text eol=lf

*.jpg binary
*.png binary
